<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.emsapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Activity.ExecutionReportHistoryActivity"></activity>
        <activity android:name=".Activity.ExecutiveReportActivity" />
        <activity android:name=".Activity.CheckUserMovementHistoryActivity" />
        <activity android:name=".Activity.CheckUserAttendanceHistoryActivity" />
        <activity android:name=".Activity.MovementHistoryActivity" />
        <activity android:name=".Activity.AttendanceHistoryActivity" />
        <activity android:name=".Activity.CheckEquipmentActivity" />
        <activity android:name=".Activity.AddEquipmentActivity" />
        <activity android:name=".Activity.UserMovementListActivity" />
        <activity android:name=".Activity.UserAttendanceListActivity" />
        <activity android:name=".Activity.CheckMovableEventsActivity" />
        <activity android:name=".Activity.SelfMovableDetailsActivity" />
        <activity android:name=".Activity.SelfAttendanceDetailsActivity" />
        <activity android:name=".Activity.CheckAttendanceActivity" />
        <activity android:name=".Activity.MovableReportActivity" />
        <activity android:name=".Activity.UpdateUserInfoActivity" />
        <activity android:name=".Activity.OfficeInAndOutActivity" />
        <activity android:name=".Activity.UserDetailsActivity" />
        <activity android:name=".Activity.UserHomePageActivity" />
        <activity android:name=".Activity.EmployeeDetailsActivity" />
        <activity android:name=".Activity.AddEmployeeActivity" />
        <activity android:name=".Activity.AdminControllerActivity" />
        <activity android:name=".Activity.UserSignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>